<h1>Editing Financial Objects Income</h1>

<%= render 'form', financial_objects_income: @financial_objects_income %>

<%= link_to 'Show', @financial_objects_income %> |
<%= link_to 'Back', financial_objects_incomes_path %>
