<h1>Editing Financial Objects Income</h1>

<div class="content-center bg-white dark:bg-blueGray-800 rounded-xl">
<%= render 'form', financial_objects_income: @financial_objects_income %>
</div>

<%= link_to 'Show', @financial_objects_income %> |
<%= link_to 'Back', financial_objects_incomes_path %>
