<h1>Editing Financial Objects Expense</h1>

<%= render 'form', financial_objects_expense: @financial_objects_expense %>

<%= link_to 'Show', @financial_objects_expense %> |
<%= link_to 'Back', financial_objects_expenses_path %>
