<p id="notice"><%= notice %></p>

<div class="mt-5 grid grid-cols-1 grid-rows-2 md:grid-cols-4">
  <div class="row-start-1 md:col-span-2 ">
    <h1 class="page-title">
      Expenses
    </h1>
  </div>

  <div class="row-start-2 md:row-start-2 md:col-span-2 md:col-start-3 block-inline">

      <div class="flex flex-row justify-center md:justify-end items-center">

        <div class="pl-5">
          <%= link_to new_financial_objects_expense_path,
                      class:"a-create-button" do %>
            + New Expense
          <% end %>
        </div>

      </div>

  </div>
</div>


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
<% @financial_objects_expenses.each do |financial_objects_expense| %>
    <%= render(FinancialObjectCard::IndexComponent.new(financial_object: financial_objects_expense)) %>
<% end %>
</div>

<%== pagy_nav(@pagy) %>
