<% if resource.errors.any? %>

  <div class="fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end">
    <div class="flex flex-col items-end justify-center">
      <%= render Notification::Component.new(type: 'error', data: { title: I18n.t("errors.messages.not_saved",
                                                                                  count: resource.errors.count,
                                                                                  resource: resource.class.model_name.human.downcase),
                                                                    list: resource.errors.full_messages }) %>
    </div>
  </div>

<% end %>
