<div class="flex items-center relative">
  <div class="rounded-full <%=@bg_color%> z-30 p-2 inline-block mx-8">
    <div class="text-center	h-10 w-10">
      <i class="fas <%= @icon %> fill-current text-white
            dark:text-blueGray-200
            text-center	inline-block text-3xl pt-0.5"></i>
    </div>
  </div>
</div>