<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @users_wallet.name %>
</p>

<%= link_to 'Edit', edit_users_wallet_path(@users_wallet) %> |
<%= link_to 'Back', users_wallets_path %>
