<!-- component -->
<%= @form.label @attribute_name, {}, { :class => "font-bold mb-1 text-gray-700 block" } %>
<div class="relative inline-flex">
  <%= @form.select @attribute_name, @items, {},
                  { :class=> "border border-gray-300 rounded-3xl text-gray-600 h-10 pl-5 pr-12 bg-white hover:border-gray-400 focus:outline-none appearance-none border-transparent focus:border-gray-300 focus:ring-0" } %>
</div>