<!-- component -->
<%= @form.label @attribute_name, {}, { :class => "font-bold mb-1 text-gray-700 block" } %>
<div class="relative inline-flex">
  <svg width="0" height="0" class="w-3 h-3 absolute top-0 right-0 m-4 pointer-events-none text-gray-400"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 412 232"
       fill="#9CA3AF"
       stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="15"
          d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
          fill-rule="nonzero"/>
  </svg>
  <%= @form.select @attribute_name, @items, {},
                  { :class=> "border border-gray-300 rounded-3xl text-gray-600 h-10 pl-5 pr-12 bg-white hover:border-gray-400 focus:outline-none appearance-none" } %>
</div>