<h1>Editing Financial Objects Payment Method</h1>

<%= render 'form', financial_objects_payment_method: @financial_objects_payment_method %>

<%= link_to 'Show', @financial_objects_payment_method %> |
<%= link_to 'Back', financial_objects_payment_methods_path %>
