<!-- component -->
<div>
  <%= @form.label @attribute_name, class: 'form-title' %>
  <div class="mt-1 relative">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-400 text-base">
                $
            </span>
    </div>
    <%= @form.number_field @attribute_name,
                          { class: 'h-10 py-2 px-4 pl-8 pr-2 form-field',
                            placeholder: "0.00",
                            value: number_to_currency(@form.object.currency, delimiter: '', unit: ''),  step: :any,
                            autocomplete: 'off' } %>
  </div>
</div>