<!-- DarkMode Toggle -->
<button id="switchTheme" class="h-10 w-10 flex justify-center items-center focus:outline-none text-gray-700
          dark:text-gray-200">
  <%= heroicon "moon", options: { class: "absolute text-gray-700 dark:text-transparent w-6" } %>
  <%= heroicon "sun", options: { class: "absolute text-transparent dark:text-gray-200 w-6" } %>
</button>